.header {
  padding: 12px 0 12px 12px;
  color: rgb(var(--white) / 0.6);
  position: relative;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      display: flex;

      &-toggle {
        position: relative;
        padding: 8px 12px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--tertiary-text-color);

        @media (min-width: 768px) {
          display: none;
        }

        &::before {
          content: '';
          position: absolute;
          inset-inline: 0;
          inset-block-start: calc(100% + 12px);
          height: 4px;
          border-radius: 12px 12px 0 0;
          background-color: var(--header-border-color);
        }

        &::after {
          content: '';
          position: absolute;
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background: url('../../../public/icons/select.svg') no-repeat center /
            contain;
        }
      }

      &__link {
        display: block;
        padding: 8px 12px;
        transition: color var(--transition-default);

        &:hover {
          color: var(--tertiary-text-color);
        }
      }

      &--left {
        flex-direction: column;
        background: var(--primary-bg-color);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        z-index: 1000;
        opacity: 0;
        transform: translateY(-150%);
        transition:
          transform var(--transition-default),
          opacity var(--transition-default);

        @media (min-width: 768px) {
          display: flex;
          flex-direction: row;
          position: static;
          background: none;
          border: none;
          padding: 0;
          transform: translateY(0);
          opacity: 1;
        }

        &.menu--open {
          opacity: 1;
          transform: translateY(0);
        }

        .menu__item {
          margin: 5px 0;

          @media (min-width: 768px) {
            margin: 0;
          }
        }

        .menu__link {
          &--active,
          &:active {
            color: var(--tertiary-text-color);

            @media (min-width: 768px) {
              position: relative;

              &::before {
                content: '';
                position: absolute;
                inset-inline: 0;
                inset-block-start: calc(100% + 12px);
                height: 4px;
                border-radius: 12px 12px 0 0;
                background-color: var(--header-border-color);
              }
            }
          }
        }
      }

      &--right {
        .menu {
          &__item {
            border-right: 1px solid rgb(var(--white) / 0.2);
            padding-inline: 8px;

            &:last-child {
              border: none;
              padding-inline-end: 0;
            }
          }

          &__link {
            padding-inline: 10px;
          }

          &__icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
