.settings-form {
  &__section-content {
    display: grid;
    gap: 24px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px 24px;
    }
  }

  &__table-wrapper {
    display: block;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    margin: 16px 16px 0;
  }

  .settings-table {
    min-width: 700px;
    font-size: 14px;

    @media (min-width: 768px) {
      min-width: 100%;
    }

    &__cell {
      border-bottom: 1px solid var(--divider-color);
      padding-block: 18px;
      padding-inline: 4px;
      text-align: left;
      width: 20%;

      &--header {
        padding-block: 12px;
        color: var(--table-head-color);
      }

      &-status {
        display: inline-flex;
        align-items: center;
        padding: 6px 8px;
        line-height: 1.4;
        border-radius: 29px;
        color: var(--status-color);
        background-color: var(--status-bg);
      }
    }

    &__status-icon {
      width: 16px;
      height: 16px;
    }

    &__status-text {
      display: block;
      padding-inline: 4px;
    }
  }
}
