/* global variables */

:root {
  /* stylelint-disable */
  --white: 255 255 255; /* #ffffff */
  --dark-primary: 24 16 37; /* #181025 */
  --gray-primary: 88 80 100; /* #585064 */
  /* stylelint-enable */

  --primary-bg-color: rgb(var(--dark-primary));
  --secondary-bg-color: rgb(var(--white));
  --tertiary-bg-color: rgb(245 245 245); /* #f5f5f5 */
  --primary-text-color: rgb(66 66 66); /* #424242 */
  --secondary-text-color: rgb(33 33 33); /* #212121 */
  --tertiary-text-color: rgb(var(--white));
  --btn-text-color: rgb(54 46 36); /* #362e24 */
  --divider-color: rgb(208 208 208); /* #d0d0d0 */
  --disabled-color: rgb(228 228 228); /* #e4e4e4 */
  --stroke-color: rgb(189 189 189); /* #bdbdbd */
  --stroke-active-color: rgb(var(--dark-primary));
  --btn-primary-bg: rgb(var(--gray-primary));
  --btn-secondary-bg: rgb(var(--white));
  --btn-primary-bg-hover: rgb(var(--gray-primary) / 0.7);
  --btn-secondary-bg-hover: rgb(240 240 240); /* #f0f0f0 */
  --header-border-color: rgb(182 177 189); /* #b6b1bd */
  --status-color: rgb(0 66 114); /* #004272 */
  --status-bg: rgb(135 204 254); /* #87ccfe */
  --tags-label-color: rgb(var(--dark-primary));
  --tags-label-bg: rgb(245 242 247); /* #f5f2f7 */
  --table-head-color: rgb(117 117 117); /* #757575 */
  --btn-shadow: 0px 2px 4px 0px rgb(80 70 96 / 0.34);
  --transition-duration: 0.3s;
  --transition-function: ease;
  --transition-default: var(--transition-duration) var(--transition-function);
}
